.box {
  width: 200px;
  padding: 20px;
  border: 5px solid #0077ff;
  margin: 20px;
  background-color: #cce5ff;
}

/* ตัวอย่างแบบปกติ (content-box) */
.content-box {
  box-sizing: content-box;
}

/* ตัวอย่างแบบ border-box */
.border-box {
  box-sizing: border-box;
  background-color: #ffd8cc;
}

.box-margin {
  margin: 40px;
  background-color: aquamarine;
}

.box2 {
  width: 150px;
  height: auto;
  padding: 15px;
  border: 3px solid #000000;
  margin: 25px;
  background-color: #ffe6e1;
}

/* แบบที่ 1 โค้งทุกมุมเท่ากัน */
.redius-20 {
  border-radius: 20px;

}

/* แบบที่ 2 วงรี */
.redius-50{
    border-radius: 50px;
}

/* แบบที่ 3 โค้งแค่ด้านบน */
.redius-top{
    border-radius: 30px 30px 0 0;
}

/* แบบที่ 4 วงกลม */
.redius-circle{
    width: 120px;
    height: 120px;
    background-color: #0077ff;
    border-radius: 50%;
}

.box3{
    width: 150px;
    height: 50px;
    padding: 10px;
    border: 4px solid #ff6600;
    margin: 15px;
    background-color: #ffffcc;
}
.box-shadow-normal{
    box-shadow: 10px 10px 5px grey;
}

.box-shadow-inset{
    box-shadow: inset 0px 0px 15px grey;
}

.box-shadow-blur{
    box-shadow: 0px 0px 20px grey;
}

.box-shadow-multi{
    box-shadow: 5px 5px 5px grey, 8px 8px 8px rgb(255, 0, 0);
}

.box-shadow-down{
    box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.5);
}