/* Grid container */
.grid-container{
    display: grid;
/* แบ่งคอลัมน์ */
    grid-template-columns: 80% 20%;
/* แบ่งแถว */
    grid-template-rows: 70px 540px 70px;

    gap: 10px;
    padding: 10px;
    background-color: whitesmoke;
    height: 100vh;
    box-sizing: border-box ;
}

/* header */
header{
    grid-row:  1/2; /* กำหนดให้ header เริ่มแรกอยู่ที่เส้น row ที่ 1 ถึงเส้น row ที่ 2 */
    grid-column: 1/3; /* กำหนดให้ header เริ่มแรกอยู่ที่เส้น column ที่ 1 ถึงเส้น column ที่ 3 */
    background-color: green; /* สีตามขอบสีเขียว */
    color: white; text-align: center; line-height: 70px; font-size: 24px;
}

/* sidebar */
aside{
    grid-row: 2/3; /* กำหนดให้ sidebar เริ่มแรกอยู่ที่เส้น row ที่ 2 ถึงเส้น row ที่ 3 */
    grid-column: 1/2; /* กำหนดให้ sidebar เริ่มแรกอยู่ที่เส้น column ที่ 1 ถึงเส้น column ที่ 2 */
    background-color: rgb(0, 30, 255); /* สีตามขอบสีส้ม */
    color: white; text-align: center; line-height: 540px; font-size: 24px;
}

/* main content */
main{
    grid-row: 2/3; /* กำหนดให้ main content เริ่มแรกอยู่ที่เส้น row ที่ 2 ถึงเส้น row ที่ 3 */
    grid-column: 2/3; /* กำหนดให้ main content เริ่มแรกอยู่ที่เส้น column ที่ 2 ถึงเส้น column ที่ 3 */
    background-color: white; /* สีตามขอบสีขาว */
    color: black; 
    text-align: center; line-height: 530px; font-size: 24px;
}

/* footer */
footer{
    grid-row: 3/4; /* กำหนดให้ footer เริ่มแรกอยู่ที่เส้น row ที่ 3 ถึงเส้น row ที่ 4 */
    grid-column: 1/3; /* กำหนดให้ footer เริ่มแรกอยู่ที่เส้น column ที่ 1 ถึงเส้น column ที่ 3 */
    background-color: rgb(32, 174, 32); /* สีตามขอบสีเขียว */
    color: white; text-align: center; line-height: 70px; font-size: 24px;
}