/* Grid container */
.grid-container{
    display: grid;
    grid-template:
        "header header" 70px
        "aside main" 530px
        "footer footer" 70px
        /20% 80%; 

    gap: 10px;
    padding: 10px;
    background-color: whitesmoke;
    height: 100vh;
    box-sizing: border-box ;
}

/* header */
header{
    grid-area: header; /* กำหนดให้ header อยู่ในพื้นที่ที่ชื่อ header */
    background-color: green; /* สีตามขอบสีเขียว */
    color: white; text-align: center; line-height: 70px; font-size: 24px;
}

/* sidebar */
aside{
    grid-area: aside; /* กำหนดให้ sidebar อยู่ในพื้นที่ที่ชื่อ aside */
    background-color: rgb(0, 30, 255); /* สีตามขอบสีส้ม */
    color: white; text-align: center; line-height: 540px; font-size: 24px;
}

/* main content */
main{
    grid-area: main; /* กำหนดให้ main content อยู่ในพื้นที่ที่ชื่อ main */
    background-color: white; /* สีตามขอบสีขาว */
    color: black; text-align: center; line-height: 530px; font-size: 24px;
}

/* footer */
footer{
    grid-area: footer; /* กำหนดให้ footer อยู่ในพื้นที่ที่ชื่อ footer */
    background-color: rgb(32, 174, 32); /* สีตามขอบสีเขียว */
    color: white; text-align: center; line-height: 70px; font-size: 24px;
}